.grid {
  border: #a00 solid 20px;
}
.row {
  display: flex;
}

.cell {
  background-color: #1e1e1e;
  /* border: 1px solid #fff; */
}

.start {
  background-color: #73e5ed;
}

.end {
  background-color: #ff0000;
}

.visited,
.tempVisited {
  background-color: #1e1e1e;
}

.wall,
.tempWall {
  background-color: #a00;
}

.player {
  background-color: rgb(157, 0, 255);
  border-radius: 50%;
}
