.row {
  display: flex;
}

.cell {
  background-color: #1e1e1e;
  /* border: 1px solid #fff; */
}

.start {
  background-color: #73e5ed;
}

.end {
  background-color: #ff0000;
}

.visited {
  background-color: #1e1e1e;
}

.wall {
  background-color: #a00;
}

.player {
  background-color: rgb(157, 0, 255);
  border-radius: 50%;
}

.path {
  background-color: #0f0;
}

.tempWall {
  background-color: #a00;
}

.joystick {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.start-btn {
  margin: 2rem 0;
}
